body{
	font: 18px Palatino, Arial, Garamond, Trebuchet MS, Verdana, Lucida Grande, Tahoma;
	background-color: white/*#D8D8D8*/;
	width:960px;
	margin: 0 auto;
	margin-top: 47px;
}

.toggler {
	text-decoration: none;
}

h2 {
	text-align: center;
	font: 14px Arial, Garamond, Trebuchet MS, Verdana, Lucida Grande, Tahoma;	
	font-size: 21px;
	font-weight: bold;
	background: /*#99e7ff*//*#C6C6C6*//*#4CAF50*/#00008b;
	border: 2px solid /*#99e7ff*//*#ccc*//*#4CAF50*/#00008b;
	color: white;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 1px;
	letter-spacing: 1px;	
}

h3 {
	font: 14px Arial, Garamond, Trebuchet MS, Verdana, Lucida Grande, Tahoma;	
	font-size: 20px;
	font-weight: bold;
	background: #eed6ee;
	border: 2px dashed #ccc;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 1px;
	letter-spacing: 1px;	
}

.codebox {
    border:1px solid black;
    background-color:#EEEEFF;
    width:98%;
    overflow:auto;    
    padding:10px;
}

.codebox code {
    font-size:0.9em;
}
